@use 'mixins' as *;
@use 'variables' as *;

.winterfest {
    margin-bottom: 71px;

    @include respond(tablet) {
        margin-bottom: 51px;
    }

    @include respond(mobile) {
        margin-bottom: 47px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 96px;

        @include respond(laptop-s) {
            margin-bottom: 75px;
        }

        @include respond(tablet) {
            flex-direction: column;
            margin-bottom: 40px;
        }
    }

    &__content {
        max-width: 650px;
        margin-right: 36px;

        @include respond(tablet) {
            margin-right: 0;
            margin-bottom: 50px;
        }

        @include respond(mobile) {
            margin-bottom: 40px;
        }
    }

    &__title {
        font-weight: 900;
        font-size: 46px;
        color: $font-dark;
        margin-bottom: 41px;

        @include respond(tablet) {
            text-align: center;
            margin-bottom: 28px;
        }

        @include respond(mobile) {
            font-size: 32px;
            margin-bottom: 18px;
        }
    }

    &__description {
        font-weight: 400;
        font-size: 16px;
        color: #000;
        line-height: 26px;

        @include respond(tablet) {
            text-align: center;
        }

        @include respond(mobile) {
            font-size: 12px;
            line-height: 20px;
        }
    }

    &__gallery {
        flex-shrink: 0;
        max-width: 538px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 25px;
        grid-row-gap: 20px;

        @include respond(laptop-s) {
            max-width: 488px;
        }

        @include respond(tablet) {
            max-width: 756px;
            width: 100%;
            grid-column-gap: 28px;
            grid-row-gap: 22px;
        }

        @include respond(mobile) {
            grid-column-gap: 14px;
            grid-row-gap: 11px;
        }
    }

    &__image {
        max-width: 256px;
        width: 100%;
        height: auto;
        border-radius: 12px;

        @include respond(tablet) {
            max-width: 368px;
        }

        img {
            @include respond(tablet) {
                width: 100%;
            }
        }
    }

    &__features {
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(4, minmax(200px, 315px));
        max-width: 1320px;
        margin: 0 auto;

        @include respond(laptop-s) {
            grid-template-columns: repeat(4, minmax(200px, 368px));
        }

        @include respond(tablet) {
            max-width: 756px;
            grid-template-columns: repeat(2, minmax(200px, 368px));
            gap: 28px 23px;
        }

        @include respond(mobile) {
            grid-template-columns: minmax(200px, 100%);
            justify-content: center;
            gap: 31px;
        }

        .feature {
            position: relative;
            width: 100%;
            padding: 28px 35px 115px;
            border-radius: 40px;
            box-shadow: 0 4px 16px 0 rgba(51, 60, 79, 0.16);
            background-color: #fff;
            transition: 0.2s;

            &__link {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
            }

            &__icon {
                max-width: 105px;
                margin-bottom: 31px;
            }

            &__title {
                font-weight: 700;
                font-size: 20px;
                color: $font-dark;
                margin-bottom: 17px;
            }

            &__subtitle {
                font-weight: 700;
                font-size: 10px;
                letter-spacing: 0.16em;
                text-transform: uppercase;
                color: $font-light;
                margin-bottom: 26px;
            }

            &__description {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #000;
            }

            &__button {
                z-index: 2;
                position: absolute;
                left: 31px;
                bottom: 33px;
            }

            &:hover {
                transform: scale(1.065);

                @include respond(tablet) {
                    transform: none;
                }
            }
        }
    }
}